.container {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 100%; 
    max-width: 400px; 
    padding: 20px;
    margin:auto;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.heading {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.img {
    height: 40px;
    margin-right: 10px;
}

.title {
    color: rgba(76, 78, 100, 0.87); 
    font-weight: 600;
    font-size: 20px;
    font-family: 'poppins';
}

#email {
    border-radius: 8px;
    height: 50px;
    padding: 0px 10px; 
}

::placeholder {
    font-size: 14px;
    font-weight: 600;
    color: black;
}

#submitButton {
    background-color: #666CFF;
    font-family: 'poppins';
    font-weight: 500;
    font-size: 15px;
    width: 100%; 
    border: none;
    border-radius: 8px;
    padding: 10px 0; 
    cursor: pointer;
}

#lastPara {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.form-error {
    color: red;
}
.container {
    max-width: 100%;
}

@media (max-width: 1279px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 1023px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
    }
}
